* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

.root {
    width: 100%;
}

.game {
    width: 80%;
    max-width: 800px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.game-board {
    width: 240px;
}

.board-row {
    display: flow-root;
}

/* 每个格子,通过重叠1px来防止中间border看起来更厚 */
.board-row .square {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #999;
    background: #fff;
    margin-right: -1px;
    margin-top: -1px;
    line-height: 34px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

/* HISTORIES */
.game-info {
    width: 240px;
}

.game-info .status {
    margin-bottom: 16px;
}

.game-info .histories {
    margin-left: 10px;
    margin-top: 30px;
}

.histories .history {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    border: 2px solid #999;
}

.histories .selected {
    font-weight: 700;
}

.cur-btn {
    border: 2px solid #999;
    color: #eee;
    background: #999;
}
